<!-- <table *ngIf="user$| async as user">
  <tr *ngFor="let prop of user | keyvalue">
      <td>{{prop.key}}</td>
      <td>{{prop.key === 'gender'? (user[prop.key] | gender):(prop.value)}}</td>
  </tr>
</table>
 -->


<table *ngIf="user$| async as user">
  <tr>
    <td>User Id</td>
    <td class="user-id">{{user.id}}</td>
  </tr>
  <tr>
    <td>User gender</td>
    <td class="user-gender">{{user.gender|gender}}</td>
  </tr>
  <tr>
    <td>User Name</td>
    <td class="user-first-name">{{user.firstName}}</td>
  </tr>
  <tr>
    <td>User Lastname</td>
    <td class="user-last-name">{{user.lastName}}</td>
  </tr> 
</table>